<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="wolt.mybatis.model.Location" alias="Location"/>
        <typeAlias type="wolt.mybatis.model.Restaurant" alias="Restaurant"/>
        <typeAlias type="wolt.mybatis.model.Food" alias="Food"/>
        <typeAlias type="wolt.mybatis.model.RestaurantFood" alias="RestaurantFood"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="MANAGED"/>
            <dataSource type="JNDI">
                <property name="data_source" value="WoltDataSource"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mybatis.xml/RestaurantMapper.xml"/>
        <mapper resource="mybatis.xml/LocationMapper.xml"/>
        <mapper resource="mybatis.xml/FoodMapper.xml"/>
        <mapper resource="mybatis.xml/RestaurantFoodMapper.xml"/>
    </mappers>
</configuration>